@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@900&family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@900&family=Koulen&family=Poppins:wght@600&display=swap');

:root{
  --font-kh-me :  'Koulen', cursive;
  --font-kh-co :   'Battambang', cursive;
  --font-en    :   'Poppins', sans-serif;
  --color-bg   :  linear-gradient(to right,rgb(24, 0, 92), rgb(85, 0, 110), rgb(121, 0, 214), rgb(186, 84, 255));   
   --bg-page : #F0F8FF;
}
*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-en);
}
body{
  font-size: 16px;
  background: #F0F8FF;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style-type: none;
}
/* ======== container class========= */
.container {
  margin: 0 auto;
}
/* ======== */
.header{
  /* background-color: yellow; */
  background-image: var(--color-bg);
  width: 100%;
  display: grid;
  /* grid-template-columns: 1fr; */
 
}
.header .container{
  /* background-color: yellow; */
  width: 80%;
  padding: 0px 0px;
}
.header .navbar{
  /* background-color: yellow; */
  width: 100%;
 display: flex;
 flex-direction: row;
  justify-content: space-between;
}
/* use tag aside for control imag== */
.header .logo{
  max-width:100px;
  /* background-color: white; */
}
.header .logo img{
  width: 100%;
  height: 100%;
}
/* use tag ul to make nwbu content == */
.header .menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  gap: 20px;
}
.header .menu li a{
  display: block;
  color: white;
 font-size: 18px;
 font-family: var(--font-kh-me);
 animation-name: change-color-font;
 animation-duration: 4s;
 animation-delay :2s;
 animation-iteration-count: infinite;
}
@keyframes change-color-font{
  0%{
  /* background: -webkit-linear-gradient(#4f0000, #a80606 , #ec0505);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: red;
  }
  25%{
    /* background: -webkit-linear-gradient(#001f54, #0250af , #32b0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: aqua;
  }
  50%{
    /* background: -webkit-linear-gradient(#001f54, #008262 , #00fed8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(0, 231, 158);
  }
  75%{
    /* background: -webkit-linear-gradient(#770049, #a7047e , #48ff42);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(255, 13, 118);
  }
  100%{
    /* background: -webkit-linear-gradient(#005906, #0ca801 , #ff26d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: dodgerblue;
  }
}
.header .menu li a:hover{
  transform: scale(120%);
  transition: all 0.5s;
}
/* use second tag ul for make icon login== */
.header .login{
  display: flex;
  align-items:center;
  /* background-color: aqua; */
}
.header .login li a {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.header .login li a:hover{
   transform: scale(130%);
   transition: all 0.5s;
   color: black;
}
/*  end of style of menu */
.bg-webpage{
    width: 100%;
    background-color: green;
    height : 460px;
    background: url(photo/bg-web-pgae.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
 /*  end of style image bg on webpage  */
 /* title style tag  */
  .box-title{
    width:100%;
     display: flex;
     align-items: center;
     justify-content: center;
       margin-bottom: 100px;     
       margin-top: 40px;
  }
  .box-title > .sub-box-title {
    /* background-color:red; */
    width:230px;
    height: 100%;
    position: relative;
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 40px;
    flex-direction: column;
  }.box-title > .sub-box-title > hr {
    width: 360px;
     border: 4px solid rgb(0, 5, 163);
  }
  .box-title > .sub-box-title > .title {
     width: 100%;
     height: 100%;
     position: absolute;
     bottom: 0;
     font-size: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: white;
  }
  /*  end of style title of product  */
  /* start style product box  */
  .box-product{
     max-width: 94%;
     margin: auto;
     margin-bottom: 90px;
     gap: 1%;
     border: none; 
     display: flex;
     flex-wrap: wrap;
    }
    .product{
     height: 380px;
     width: 24%;
     display: flex;
     flex-wrap: wrap;
     font-weight: normal;
     font-size: 12px;
     transition: all 0.5s;
    }
    .product:hover{
     transform: translateY(-20px);
    }

    .box-product > .product > img {
      height: 75%;
      width: 100%;
      border: 0.8px solid rgba(128, 128, 128, 0.441);
      border-radius: 10px;
    }
    /* start style  */
    .info-product {
      width: 90%; 
    }.info-product > p {
      margin-left: 8px;
    }.info-product > p:last-child {
      color: rgba(128, 128, 128, 0.574);
    }
    .product >  .price {
      width: 10%;
      font-size: 16px;
      font-weight: bold;
    }
    /*  resposive width 768px */
    @media screen and (max-width : 767px){
      .box-product{
        gap: 12px;
      }
      .box-product > .product
       {
        width: 30%;
      }
    }
      /*  resposive width 540px */
      @media screen and (max-width : 540px){
        .box-product{
          gap: 12px;
        }
        .box-product > .product
         {
          width: 45%;
        }
      }
    /* start make style of css */
    .about {
      width: 100%;
      height: 300px;
      display: flex;
      gap: 40px;
      margin-bottom: 60px;
      padding: 20px 0px;
      padding-left: 40px;
    }
    /* =============== */
    .about-left {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
     justify-content: center;
    }
      .about-left > aside {
        background: var(--color-bg);
        width: 102px;
        height: 35px;
        position: relative;
        border-radius: 3px;
      }.about-left > aside > button {
        width: 100px;
        border: none;
        font-size: 16px;
        background : transparent;
        height: 35px;
        border: 1.8px solid black;
        position: absolute;
        right: -8px;
        top: 5px;
        color: white ;
        border-radius: 3px;
      }
      .about-left > aside:hover {
        position: inherit;
        padding: none;
        transition: all 1s;
      } .about-left > aside:hover button {
        position: inherit;
        transition: all 1s;
        border: none;
      }
    /*  =============== */
    .about-right {
      background-color: yellow;
      width: 27%;
      height: 100%;
      display: flex;
      align-items: center;
      border-radius: 10px;
    }
    .about-right > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
    @media screen and (max-width : 767px) {
      .about {
        display: flex;
        flex-direction: column;
        height:inherit;
      }.about-left {
        width: 100%;
      }
    }
   /* start make style footer  */
   .footer {
      width: 100%;
      height: 100px;
      display: flex;
      flex-wrap: wrap;  
    margin-bottom: 50px;
    align-items: center;
    border-top: 1.8px solid rgba(0, 0, 0, 0.664);
    }
   .footer > ul:first-child {
    width:50%;
    height: 100%;display: flex;
    justify-content: center;
    align-items: center;
   }  .footer > ul:first-child  > li {
    font-size : 38px;
    font-weight: bold;
   }
   .footer >ul:nth-child(2){
    width: 50%;
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
   }.footer ul:nth-child(2)  li i {
    font-size: 36px;
   }
   .footer p:last-child{
    width: 100%;
    text-align: center;
    font-size: 26px;
   }
   .footer p:last-child::before{
    content: "\00A9";
    color: red;
    font-size: 34px;
    margin-right: 8px;
   }.footer p:last-child::after {
    content: "Phorn Phanna";
    color: rgb(35, 108, 255);
   }
    /* end of style description of info product box */
    /*  end of product box  */
    @media screen and (max-width : 767px) {
      .footer{
        display: flex;
        flex-direction: column;
        height:inherit;
        justify-content: center;
        gap: 10px;
        width: 100%;
      }
      .footer > ul {
        width: 100%;
      }
      .footer > ul> li {
        width: 100%;
      }
      .footer p{
        width: 100%;
      }
      .footer > ul:first-child{
        margin-top: 20px;
      }
    }
